.hide-column-form {
  position: fixed;
  width: 20%;
  top: 50%;
  transform: translate(0, -50%);
  left: 15px;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  background: rgb(179, 207, 213);
}

.hide-column-form__label {
  font-size: 24px;
  display: block;
  margin-bottom: 15px;
  word-wrap: break-word;
}

.hide-column-form__select {
  padding: 2px 3px;
  font-size: 19px;
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.hide-column-form__button {
  font-size: 19px;
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
}
.hide-column-form__button:hover {
  color: #fff;
  background-color: rgb(107, 107, 107);
  transition: 0.3s;
}
